.dashboard-container {
  margin: auto;
  padding: 20px;
  background-color: #f3f6f9;
  font-family: Arial, sans-serif;
}

h1 {
  color: #263238;
  margin: 40px 0;
  text-align: center;
}
 .dashboard-container p {
  margin: 20px;
  font-weight: 600;
  font-family: Inter;
  font-size: 25px;
 }
.card {
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 7px 12px rgba(0,0,0,0.05);
  margin-bottom: 40px;
}

.card h3 {
  font-size: 25px;
}

.wallet-balance {
  font-size: 2rem;
  color: #198754;
}

.goal {
  font-size: 1.2rem;
  font-weight: bold;
  color: #dc3545;
}

.btn {
  display: inline-block;
  background-color: #ffc107;
  color: black;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  width: 300px;
  margin-left: 500px;
}

.nudge {
  font-style: italic;
  color: #6c757d;
}

.circle-actions {
  margin-top: 2rem;
  background: #f9f9f9;
  padding: 2.5rem;
  border-radius: 12px;
  padding-right: 3rem;
}

.circle-actions h3 {
  margin-top: 30px;
  font-size: 25px;
  color: #263238;
  font-weight: 800;
  font-family: 'Roboto'
}
.circle-btn-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 500px;
}

.primary-btn, .secondary-btn {
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.primary-btn {
  background-color: #0e7b5f;
  color: white;
}

.secondary-btn {
  background-color: #f2f2f2;
  color: #0e7b5f;
}

.circle-actions p{
  font-size: 20px;
font-family: 'Lato';}